{% extends './layout.html' %}
{% block title %} 首页 {% endblock %}
{% block head %}
  <link rel="stylesheet" href="/style/index.css" type="text/css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="/script/underscore.js"></script>
{% endblock %}
{% block content %}
<div>
  <h1> [[ data ]] </h1>
  <!-- <div id='app-6'>
    <p>{{message}} </p>
    <input v-model='message'>
  </div> -->
  <button id="js-btn">js-btn</button>
<div>
{% endblock %}

{% block script %}
  <!-- <script src="/script/index.js"></script>  -->

  <script src="https://cdn.bootcss.com/systemjs/6.3.1/system.js"></script>
  <script type='nomodule'>
    console.log('this is nosupper module');
    System.import('/script/index.bundle.js')
      .then(res=>{
        console.log('使用System Module',res.default);
      })
  </script>

  <script type="module"> 

    const { throttle } = _;
    const btn = document.getElementById('js-btn');
    const clickHandler = throttle(()=>{console.log(Math.random());},500);
    btn.addEventListener('click',clickHandler)

    //需要 script 加上module 
    import('/script/index.js')
      .then(result=> {
        console.log(result.default);
      })

  </script>
{% endblock  %}